
<div id="div1" style='display:none;'>
  <h1>Players</h1>
  <%= render :template => 'players/index'%>
</div>
<div class="div3">
  <a href="#">Please click here to list all the players</a>
  <%#= render :template => 'players/index'%>
  <%#= redirect_to 'new_player_record' %>
</div>
<div id="div3">
</div>
<div id="div4">
</div>

<style>
    html, body { height: 100%; padding: 0; margin: 0; }
   /* div { }*/
    .div2 { background: #DDD;
        width: 50%;
        height: 50%;
        float: left;
    }
    /*#div1 { background: #AAA;width: 50%;
        height: 50%;
        float: left; }
    #div3 { background: #777; }
    #div4 { background: #444; }*/
</style>
<script>
$(document).ready(function(){
        $('.div3').on('click',function(){
            $('#div1').show();
            $('.div3').hide();
        });
});
</script>